apiVersion: v1
kind: Service

metadata:
  name: backend-service

spec:
  type: NodePort
  selector:
    app: hangeul-chat-backend
  ports:
    - protocol: TCP
      nodePort: 30001
      targetPort: 9090
      port: 9090