apiVersion: v1
kind: Secret

metadata:
  name: mysql-secret

type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: rootpassword
  MYSQL_DATABASE: hangeul_chat
  MYSQL_USER: hangeul_user
  MYSQL_PASSWORD: "123456789"

